@page "/login"
@model PZ360.Web.Pages.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}

<style>
    html,
    body {
        height: 100%;
        margin: 0;
    }

    .box {
        display: flex;
        flex-flow: column;
        height: 100%;
    }

    .box .row.content {
        flex: 1 1 auto;
        background: linear-gradient(180deg, #0C0D0E 15.1%, rgba(6, 6, 6, 0) 100%);
    }

    .box .row .branding {
        padding: 50px;
    }

    .box .row .branding img:first-child {
        padding-bottom: 30px;
    }

    .form-floating {
        color: #C1C1C1;
    }

    .form-control {
        background-color: transparent;
        border: 0px solid;
        margin: 0 10px;
        max-width: 500px;
    }

    textarea:focus, 
    textarea.form-control:focus, 
    input.form-control:focus, 
    input[type=text]:focus, 
    input[type=password]:focus, 
    input[type=email]:focus, 
    input[type=number]:focus, 
    [type=text].form-control:focus, 
    [type=password].form-control:focus, 
    [type=email].form-control:focus, 
    [type=tel].form-control:focus, 
    [contenteditable].form-control:focus {
      box-shadow: none;
      background-color: transparent;
      color: #C1C1C1;
      border-radius: 0px;
      border-bottom: 2px solid #00AABC;
    }

    input.form-control,
    input[type=text],
    input[type=password],
    input[type=email],
    input[type=number] {
      color: #C1C1C1;
    }
</style>

<div class="box">
    <div class="row content align-items-center">
        <div class="col-md-6 col-sm-12 branding">
            <img class="img-fluid" src="~/images/Header.png" />
            <img class="img-fluid" src="~/images/Doggy.png" />
        </div>
        <div class="col-md-6 col-sm-12">
            <form>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </form>
        </div>
    </div>
</div>
