@page "/login"
@model PZ360.Web.Pages.LoginModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Login";
}
<div class="row no-gutters sign-in-content">
    <div class="col-md-6 no-gutters">
        <div class="left-side col-sm-12 branding">
            <img class="img-fluid" src="~/images/Header.png" />
            <img class="img-fluid" src="~/images/Doggy.png" />
        </div>
    </div>
    <div class="col-md-6 no-gutters">
        <div class="right-side d-flex justify-content-center align-items-center">
            <form class="text-center">
                <h4 class="signin-header">Sign In</h4>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control w-100" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control w-100" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating">
                    <div class="row m-2 p-1">
                        <div class="col">
                            <button class="sign-in-button">Sign In</button>
                        </div>
                        <div class="col">
                            <button class="join-button">Join</button>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <div class="row m-2 p-1">
                        <div class="col">
                            <button class="rounded-button"><img src="~/images/Google Sign In.png" /></button>
                        </div>
                        <div class="col">
                            <button class="rounded-button"><img src="~/images/Facebook Sign In.png" /></button>
                        </div>
                        <div class="col">
                            <button class="rounded-button"><img src="~/images/Twitter Sign In.png" /></button>
                        </div>

                        <div class="col">
                            <button class="rounded-button"><img src="~/images/Linkedin Sign In.png" /></button>
                        </div>
                    </div>
                </div>
                <div class="form-floating">
                    <a href="#"><span>Forgot Password?</span></a>
                </div>

                <div class="form-floating">
                    <a href="#"><span>Contact Us</span></a>
                </div>
            </form>
        </div>
    </div>
</div>