@page "/viola"


<div class="row no-gutters top-menu align-items-center text-center">
    <div class="col-4 menu-desk">
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Let's Start <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Set Your Plan <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Profile <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Viola <img src="../images/Separator.png" alt="Separator.png" /></a>
    </div>
    <div class="col-5 menu-mini">
        <div class="row">
            <a href="#"><img src="../images/paw.png" alt="paw.png" />Viola <img src="../images/Separator.png" alt="Separator.png" /></a>
            <span>3/3 Step Complete!</span>
        </div>

    </div>
</div>

<div class="row no-gutters set-plan-bg">
    <div class="col-md reg-content align-items-center text-center">
        <div class="row m-2 p-2">
            <div class="col-md">
                <button class="back-to-login">Back to Login</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating">
                    <h1>Congratulations! 🥳</h1>
                </div>
            </div>
        </div>
        <div class="row viola-content no-gutters align-items-center justify-content-center">
            <div class="row">
                <div class="col-md">
                    <h4>You’re all finished!</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <img src="../images/congratulations.png" alt="congratulations.png"/>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <br />
                    <p>We are excited to have you join our PetZone360™ family.<br />
                        Your registration confirmation will be send your registered user email.
                    </p>
                    <br/>
                    <p>
                        Have questions or issues? 
                        <br />
                        Contact <a href="#">support@petzone360.com</a>
                        <br/>
                        to get assistance with your account.
                        <br/>
                        We’ll respond as soon as we can!
                    </p>
                </div>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-md">
                <br/>
            </div>
        </div>
    </div>
</div>
@code
{

}
