@page "/checkout2"


<div class="row no-gutters top-menu align-items-center text-center">
    <div class="col-5 menu-desk">
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Let's Start <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Set Your Plan <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Profile <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Checkout <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw_gray.png" alt="paw_gray.png" />Viola</a>
    </div>
    <div class="col-5 menu-mini">
        <div class="row">
            <a href="#"><img src="../images/paw.png" alt="paw.png" />Checkout <img src="../images/Separator.png" alt="Separator.png" /></a>
            <span>3/4 Step Complete!</span>
        </div>

    </div>
</div>

<div class="row no-gutters set-plan-bg">
    <div class="col-md reg-content align-items-center text-center">
        <div class="row m-2 p-2">
            <div class="col-md">

                <button class="back-checkout-button mt-2">Cancel</button>
                <button class="help-checkout-question m-0"><img src="../images/Question.png" /></button>
                <div class="row d-flex check-out-price-info">
                    <div class="col-md">
                        <p>Total: $25 Annually (Subscription)<button class="proceed-checkout-button">Proceed to Purchase</button></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating">
                    <h1>Thanks For Choosing +!</h1>
                </div>
            </div>
        </div>
        <div class="row check-out-content no-gutters align-items-center justify-content-center">
            <div class="row">
                <div class="col-md">
                    <h5>
                        You Just Made Your Account <br/>
                        One More Step Before You Become A Member
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>
                        <br />
                        Please view below to view your selection and proceed to purchase.<br />
                        Once your purchase is complete, you’ll proceed to setting up your vendor profile.

                    </p>
                    <br />
                </div>
            </div>
            <div class="row no-gutters align-items-center justify-content-center">
                <div class="col-md-4">
                    <div class="left-side check-out-right">
                      <img src="../images/pz3plus.png" alt="pz3plus.png"/>
                    </div>
                </div>
                <div class="col-md-4 check-out-left">
                    <div class="right-side check-out-left">
                        <h5>
                            Your Membership:<br/>
                            PZ3+ Membership
                        </h5>
                        <br />
                        <h6>Features:</h6>
                        <div class="row">
                            <ul>
                                <li>Access To PetZONE360<span>TM</span></li>
                                <li>
                                    Access To PetZONE360<span>TM</span>;Includes:

                                </li>
                                <li>Immersive Pet Marketplace
                                    <ul>

                                        <li>Pet Care</li>
                                        <li>Pet Services</li>
                                        <li>Goodwill Zone</li>
                                        <li>Pet Events Zone</li>
                                        <li>PZ3 University (Limited)</li>
                                        <li>PZ3 Community</li>
                                        <li>PZ3 Forums</li>
                                    </ul>
                                </li>
                                <li>Exclusive Pet Product & Services Deals & Discounts</li>
                                <li>Access Exclusive Content Inside PZ3 University</li>
                                <li>Save On Pet Insurance Premiums</li>
                                <li>Save On Pet Prescriptions</li>
                                <li>Share 10 Photos & Stories to PZ3 Pet Wall & Memorial Wall</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-md">
                <div class="row d-flex check-out-price-info-bottom">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md">
                                <p>Total: $25 Annually (Subscription)</p>
                            </div>
                            <div class="col-md">
                                <button class="proceed-checkout-button">Proceed to Purchase</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@code
{

}
