@page "/users-can-do"

@inject NavigationManager _navigationManager

<div class="row no-gutters top-menu align-items-center text-center">
    <div class="col-5 menu-desk">
        <a href="#"><img src="../images/paw.png" alt="paw.png" />Let's Start <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw_gray.png" alt="paw_gray.png" />Set Your Plan <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw_gray.png" alt="paw_gray.png" />Profile <img src="../images/Separator.png" alt="Separator.png" /></a>
        <a href="#"><img src="../images/paw_gray.png" alt="paw_gray.png" />Viola <img src="../images/Separator.png" alt="Separator.png" /></a>
    </div>
    <div class="col-5 menu-mini">
        <div class="row">
            <a href="#"><img src="../images/paw.png" alt="paw.png" />Set Your Plan <img src="../images/Separator.png" alt="Separator.png" /></a>
            <span>It Only Takes A Few Steps!</span>
        </div>
    </div>
</div>

<div class="row no-gutters set-plan-bg">
    <div class="col-md reg-content align-items-center text-center users-can-do">
        <div class="row m-2 p-2">
            <div class="col-md">
                <button class="back-button" @onclick="OnGoBack">Back</button>
                <button class="next-profile-bottom" @onclick="OnGoNext">Next</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-floating">
                    <h1>What Can I Do On PZ3?</h1>
                </div>
            </div>
        </div>
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-lg-5 col-md-8 col-sm-10 pe-3">
                <div class="row align-items-center">
                    <img src="../images/group-profile.png" class="col-md-2 col-sm-12 float-sm-start fixed-size" alt="group-profile.png" />
                    <p class="col-md-10 col-sm-12 text-start"><strong>Create a profile that provides all the details.</strong> Set your unique interests so that we can curate a special experience just for you! You can create individual profiles for each of your pets later to share with other users and pet services.</p>
                    <hr/>
                </div>
                <div class="row align-items-center">
                    <img src="../images/group-product.png" class="col-md-2 col-sm-12 float-sm-start fixed-size" alt="group-product.png" />
                    <p class="col-md-10 col-sm-12 text-start"><strong>Find unique products at discounts.</strong> At PetZONE360™, our team is just as involved as you within the platform. Find our top picks in playlist for fun & new products.</p>
                    <hr/>
                </div>
                <div class="row align-items-center">
                    <img src="../images/group-people.png" class="col-md-2 col-sm-12 float-sm-start fixed-size" alt="group-people.png" />
                    <p class="col-md-10 col-sm-12 text-start"><strong>To keep our pet-loving community safe, we may have to verify your acount.</strong> PetZONE360™ holds the right to terminate any account, post or activity that violates our Terms of Services, Privacy Policy, or distrupts our animal and human friendly community.</p>
                    <hr/>
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-10 ps-3">
                <div class="row align-items-center">
                    <img src="../images/group-message.png" class="col-md-2 col-sm-12 float-sm-start fixed-size" alt="group-message.png" />
                    <p class="col-md-10 col-sm-12 text-start"><strong>Get social with other pet parents!</strong> We created this site just for you to explore the pet universe, learn about your pet, and share your journey with you and your furbaby. Check out our Forums, PZ3 University, and Pet Wall to start connecting.</p>
                    <hr/>
                </div>
                <div class="row align-items-center">
                    <img src="../images/group-man-dog.png" class="col-md-2 col-sm-12 float-sm-start fixed-size" alt="group-man-dog.png" />
                    <p class="col-md-10 col-sm-12 text-start"><strong>Find top services at the closest distance.</strong> Search our directory of pet care and services to find local, top-rated businesses. Help your community by leaving reviews.</p>
                    <hr/>
                </div>
                <div class="row align-items-center">
                    <img src="../images/group-solicit.png" class="col-md-2 col-sm-12 float-sm-start fixed-size" alt="group-solicit.png" />
                    <p class="col-md-10 col-sm-12 text-start"><strong>Don’t solicit irrelevant products, services, and contents in PetZONE 360™.</strong> This includes things that are not pet, pet parent, or animal related.</p>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="d-flex m-2 p-2 justify-content-center">
            <div class="d-inline-flex">
                <input id="agree" type="checkbox" class="form-check" /><label class="p-2">I Agree with PetZONE360™ Terms of Service</label>
            </div>
            <div class="d-inline-flex">
                <input id="agree" type="checkbox" class="form-check" /><label class="p-2">I Agree with PetZONE360™ Privacy Policy</label>
            </div>
        </div>
        <div class="row m-2 p-2">
            <div class="col-md">
                <button class="next-profile-bottom" @onclick="OnGoNext">Next</button>
            </div>
        </div>
    </div>
</div>
@code
{
    
    public void OnGoNext()
    {
        _navigationManager.NavigateTo($"/setplan", true);
    }

    public void OnGoBack()
    {
        _navigationManager.NavigateTo($"/login", true);
    }
}
